.profile__image {
  position: relative;
  background-image: url('https://kotsdog.ru/wa-data/public/shop/img/s73377060.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 0 30px 0 0;
  transition: 0.3s;
}

.profile__image::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  background-image: url('../../../images/changeAvatarIcon.png');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  transition: 0.3s;
  visibility: hidden;
}

.profile__image:hover::before {
  opacity: 0.8;
  visibility: visible;
}

@media (max-width: 765px) {
  .profile__image {
    margin: 0;
  }
}
