.cards__card-image {
  object-fit: cover;
  height: 282px; /* Помню про нежелательность жестких величин. В макете на всем диапазоне используется 282px. В противном случае пришлось бы использовать дополнительную обертку div для ограничения размера изображения  */
  width: 100%;
  display: block;
  cursor: pointer;
}
