.user-form__input {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: black;
  color: #fff;
  width: 358px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 27px 0 13px;
}

.user-form__input:focus {
  outline: none;
}

@media (max-width: 450px) {
  .user-form__input {
    width: 260px;
  }
}
