.header__logo {
  max-width: 100%;
  max-height: 100%;
  color: white;
  padding: 45px 0 37px 0;
  display: block;
}

@media (max-width: 515px) {
  .header__logo {
    max-width: 104px;
    padding: 28px 0 30px 30px;
  }
}
