.root {
  background-color: black;
  width: 100%;
  min-height: 100vh; /* Необходимо чтобы при большой высоте экрана черный фон не заканчивался вместе с контентом и не появлялось белого поля внизу, под футтером, в зоне где нет контента */
  position: relative;
}
