.header__registration {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  margin: 51px 0 46px auto;
  cursor: pointer;
}

@media (max-width: 515px) {
  .header__registration {
    padding-right: 30px;
    font-size: 14px;
    line-height: 17px;
  }
}
